.coaches-info {
  ul {
    position: relative;

    margin: 39px 0 0 0;
    padding: 0;

    z-index: -1;

    @include vp-767 {
      margin: 37px 0 0 0;
    }
  }

  li {
    position: relative;

    margin: 0 0 12px;
    padding: 0 0 0 30px;
    height: auto;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-default-white;

    background-color: transparent;

    @include vp-767 {
      height: auto;
      padding: 0 0 0 17px;
    }

    &::before {
      position: absolute;
      top: 7px;
      left: 16px;

      width: 6px;
      height: 6px;

      background-color: $color-default-white;

      border-radius: 50%;

      content: "";

      @include vp-767 {
        left: 0;
      }
    }
  }

  p {
    margin: 0;

    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: $color-spindle;

    word-break: break-all;
  }

  .coaches-info__name {
    margin: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;
  }
}
