.coaches {
  padding: 18px 0 120px;

  @include vp-1199 {
    padding: 0 0 100px;
  }

  @include vp-767 {
    padding: 0 0 47px;
  }

  .container {
    position: relative;

    @include vp-1279 {
      width: 1100px;
    }

    @include vp-1199 {
      width: 100%;
    }
  }

  h2 {
    margin: 0 0 52px;

    font-family: $ff-bebas-neue;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    word-break: break-all;

    @include vp-1199 {
      margin: 0 0 40px;

      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }

    @include vp-767 {
      margin: 0 0 42px;

      font-size: 32px;
      line-height: 32px;
    }
  }

  ul {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;

    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  li {
    position: relative;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 260px;
    height: 294px;
    padding: 50px 40px 20px;

    color: $color-default-white;
    background-color: $color-sapphire-transparent-dark;

    @include vp-767 {
      height: 274px;
      padding: 42px 26px 30px 34px;
    }

    &:hover,
    &:focus-within {
      img {
        z-index: -1;
      }

      h3 {
        display: none;
      }

      ul {
        z-index: 1;
      }
    }
  }

  h3 {
    position: absolute;
    bottom: 25px;
    left: 0;

    width: 100%;
    margin: 0;
    padding: 0 10px 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    word-break: break-all;

    z-index: 1;

    @include vp-1199 {
      bottom: 23px;
    }

    & + div {
      height: 100%;

      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;

        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 1px 1px 10px $color-default-white;
      }
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $color-sapphire;
    object-fit: cover;
  }

  span {
    display: none;

    margin: 16px 0 0;

    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: $color-spindle;
  }

  button {
    position: absolute;
    bottom: 131px;

    display: none;

    width: 16px;
    height: 32px;
    padding: 0;

    background-color: transparent;
    background-image: url("../img/decoration/arrow@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;

    cursor: pointer;

    @include vp-767 {
      bottom: 149px;

      width: 10px;
      height: 19px;
    }

    @include retina {
      background-image: url("../img/decoration/arrow@2x.png");
    }
  }

  .coaches__swiper {
    position: relative;

    width: 1160px;

    overflow: hidden;

    @include vp-1279 {
      width: 1100px;
    }

    @include vp-1199 {
      width: 866px;
      margin: 0 auto;
    }

    @include vp-1023 {
      width: 566px;
    }

    @include vp-639 {
      width: 226px;
      height: 274px;
    }
  }

  .coaches__button {
    &--prev {
      left: -55px;

      @include vp-1279 {
        left: -44px;
      }

      @include vp-1199 {
        left: 44px;
      }

      @include vp-767 {
        left: 14px;
      }
    }

    &--next {
      right: -55px;

      @include vp-1279 {
        right: -44px;
      }

      @include vp-1199 {
        right: 44px;
      }

      @include vp-767 {
        right: 14px;
      }
    }
  }
}
