.contacts {
  width: 50%;
  padding: 70px 0 18px;

  border-top: $border-light-state-grey;

  @include vp-1199 {
    width: 100%;
    padding: 70px 0 45px;
  }

  @include vp-767 {
    padding: 70px 0 44px;
  }

  .container {
    max-width: 460px;
    margin: 0 auto 0 120px;

    @include vp-1199 {
      max-width: 532px;
      margin: 0 auto;
      padding: 0;
    }

    @include vp-1023 {
      margin: 0 auto 0 133px;
    }

    @include vp-767 {
      margin: 0;
      padding: 0 15px;
    }
  }

  h2 {
    margin: 0 0 40px;

    font-family: $ff-bebas-neue;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    word-break: break-all;

    @include vp-1199 {
      margin: 0 0 33px;

      font-size: 42px;
      line-height: 42px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
    }
  }

  b {
    display: block;

    margin: 0 0 4px 0;

    font-weight: 700;
    word-break: break-all;

    @include vp-1199 {
      font-size: 20px;
      line-height: 30px;
    }
  }

  p,
  a {
    margin: 0 0 17px;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    word-break: break-all;
    color: $color-sapphire;

    @include vp-1199 {
      margin: 0 0 20px;

      font-size: 18px;
      line-height: 27px;
    }

    @include vp-767 {
      margin: 5px 0 20px;
    }
  }

  a {
    display: block;
  }

  ul {
    position: relative;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 120px;

    width: 405px;
    margin: 0;
    padding: 0 0 0 5px;

    list-style-type: none;

    @include vp-1199 {
      column-gap: 73px;

      width: 480px;
      padding: 0;
    }

    &::after {
      position: absolute;
      top: 6px;
      left: 235px;

      width: 1px;
      height: calc(100% - 30px);

      background-color: $color-light-state-grey;

      content: "";

      @include vp-1199 {
        left: 266px;
      }
    }
  }
}
