.features-card {
  .features-card__numbers {
    font-weight: 700;
    font-size: 71px;
    line-height: 106px;
    word-break: break-all;

    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include vp-1199 {
      font-size: 58px;
      line-height: 95px;
    }

    @include vp-767 {
      line-height: 69px;
    }

    &:not(.features-card__numbers--another-gradient) {
      background-image: $red-to-left-top-wide;
    }

    &--another-gradient {
      background-image: $red-to-left-top;
    }
  }

  span {
    position: absolute;
    top: 85px;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-persian-blue;

    @include vp-1199 {
      top: 75px;
    }

    @include vp-767 {
      top: 61px;
      left: 50%;

      transform: translate(-50%);
    }
  }

  .features-card__info {
    position: relative;
    top: -20px;

    @include vp-767 {
      width: fit-content;
      margin: 0 auto;
    }

    &--with-big-padding {
      min-width: 108px;
      padding: 0 0 0 27px;

      @include vp-1199 {
        min-width: 89px;
        padding: 0;
      }
    }

    &--with-padding {
      min-width: 108px;
      padding: 0 0 0 21px;

      @include vp-1199 {
        min-width: 89px;
        padding: 0;
      }
    }
  }

  b {
    display: block;

    margin: 0 0 8px;

    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    word-break: break-all;

    @include vp-1199 {
      margin: 0 0 1px;

      font-size: 20px;
      line-height: 30px;
    }
  }

  .features-card__description {
    line-height: 22px;
  }
}
