.features {
  padding: 117px 0 35px;

  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 99px 0 70px;
  }

  @include vp-767 {
    padding: 67px 0 63px;
  }

  .container {
    position: relative;

    @include vp-767 {
      padding: 0;
    }
  }

  h2 {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto 62px;
    padding: 0 103px;

    font-family: $ff-bebas-neue;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: center;

    @include vp-1199 {
      margin: 0 auto 43px;

      font-size: 42px;
      line-height: 42px;
    }

    @include vp-767 {
      margin: 0 auto 39px;
      padding: 0 15px;

      font-size: 32px;
      line-height: 32px;
    }
  }

  p {
    margin: 0;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 360px;
    row-gap: 75px;

    width: 1040px;

    margin: 0 auto;
    padding: 0;

    list-style-type: none;

    @include vp-1199 {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      column-gap: 30px;
      row-gap: 25px;

      width: 100%;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      row-gap: 28px;

      width: 100%;
    }
  }

  li {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 33px;

    @include vp-1199 {
      grid-template-columns: auto min(407px);
      column-gap: 30px;
    }

    @include vp-1140 {
      grid-template-columns: repeat(2, auto);
    }

    @include vp-839 {
      width: 294px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;

      width: 100%;
      margin: 0 auto;

      text-align: center;
    }

    &:nth-last-child(-n+2) {
      padding: 0;
    }

    &:not(.features__center-item) {
      padding: 0 0 56px;

      @include vp-1199 {
        padding: 0;
      }

      @include vp-767 {
        padding: 0 46px;
      }
    }

    &:not(:nth-last-child(-n+2), ) {
      &::after {
        position: absolute;
        bottom: -1px;

        width: 100%;
        height: 2px;

        background-color: $color-crimson-transparent;

        content: "";

        @include vp-1199 {
          display: none;
        }
      }
    }
  }

  .features__center-item {
    position: absolute;
    top: 0;
    left: 50%;

    width: 240px;
    min-height: 305px;
    margin: 10px 0 0 -120px;
    padding: 50px 33px 49px 29px;

    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: $color-default-white;

    background-color: $color-resolution-blue;

    @include vp-1199 {
      position: static;

      grid-template-columns: 1fr;

      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;

      width: 442px;
      min-height: 239px;

      margin: 0 auto 17px;
      padding: 31px 112px 39px 110px;

      font-size: 22px;
      line-height: 33px;
    }

    @include vp-839 {
      width: 442px;
    }

    @include vp-767 {
      width: 100%;
      margin: 17px 0 4px;
      padding: 35px 55px 15px;
    }

    &::after {
      display: none;
    }
  }

  .features__center-item-numbers {
    font-weight: 700;
    font-size: 74px;
    line-height: 81px;
    word-break: break-all;

    @include vp-1199 {
      line-height: 76px;
    }

    & + span {
      padding: 0 0 0 5px;

      word-break: break-all;

      @include vp-767 {
        display: block;

        margin: -5px 0 0;
        padding: 0;
      }
    }
  }

  .features__center-item-description {
    margin: 32px 0 0;
    padding: 0 0 0 6px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @include vp-1199 {
      margin: 13px 0 0;
    }

    @include vp-767 {
      margin: 8px 0 0 -3px;
    }
  }

  .tablet-shown {
    display: block;
  }
}
