.main-offer {
  div {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100%;

    padding: 32px 46px 45px 45px;

    color: $color-default-white;

    background-color: $color-torch-red;

    @include vp-1199 {
      width: 41%;
      padding: 32px 40px 45px 45px;
    }

    @include vp-767 {
      align-items: center;

      width: 100%;
      height: 100%;
      padding: 34px 46px 344px 45px;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 100%;

      width: 100%;
      height: 100%;

      background-color: $color-dark-cerulean;
      background-image: url("../img/decoration/sales@1x.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      content: "";

      @include vp-1199 {
        display: none;
      }

      @include vp-767 {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 299px;

        background-image: url("../img/decoration/sales-tablet@1x.jpg");
      }

      @include retina {
        background-image: url("../img/decoration/sales@2x.jpg");

        @include vp-767 {
          background-image: url("../img/decoration/sales-tablet@2x.jpg");
        }
      }
    }
  }

  span {
    display: block;

    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    word-break: break-all;
  }

  .main-offer__title {
    margin: 0 0 15px;

    font-size: 28px;
    line-height: 44px;
    color: $color-default-white;
    word-break: break-all;

    @include vp-767 {
      line-height: 38px;
    }
  }

  .main-offer__description {
    font-size: 18px;
    line-height: 25px;
    color: $color-default-white;

    @include vp-767 {
      padding: 0;
    }
  }

  .main-offer__link {
    font-size: 14px;
    line-height: 16px;
    word-break: break-all;
    color: $color-default-white;

    @include vp-1199 {
      text-underline-offset: 3px;
    }

    @include vp-767 {
      margin: 20px 0 0;
    }
  }

  &::after {
    @include vp-1199 {
      position: absolute;
      top: 0;
      right: 0;

      width: 59%;
      height: 100%;

      background-image: url("../img/decoration/sales-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      content: "";

      @include vp-767 {
        display: none;
      }

      @include retina {
        @include vp-1199 {
          background-image: url("../img/decoration/sales-tablet@2x.jpg");
        }
      }
    }
  }
}
