.offers {
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }

  h2 {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto 50px;

    font-family: $ff-bebas-neue;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: center;
    word-break: break-all;

    @include vp-1199 {
      margin: 0 auto 40px;

      font-size: 42px;
      line-height: 42px;
    }

    @include vp-767 {
      margin: 0 auto 42px;

      font-size: 32px;
      line-height: 32px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 40px;

    list-style-type: none;

    @include vp-1199 {
      gap: 30px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  li {
    display: flex;
    flex-direction: column;

    min-height: 211px;
    padding: 25px 35px 30px 28px;

    border: 7px solid transparent;
    border-image: $blue-to-left-top;
    border-image-slice: 1;

    @include vp-767 {
      padding: 35px 35px 42px 32px;
    }
  }

  a {
    width: fit-content;

    margin: auto 0 0;
    padding: 10px 0 0;

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 2px;
    word-break: break-all;
    color: $color-resolution-blue;

    @include vp-1199 {
      text-underline-offset: 4px;
    }

    @include vp-767 {
      margin: auto auto 0;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  h3 {
    margin: 0 0 8px;

    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    word-break: break-all;
    color: $color-resolution-blue;

    @include vp-1199 {
      margin: 0 0 11px;
    }

    @include vp-767 {
      text-align: center;
    }
  }

  p {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-resolution-blue;

    @include vp-767 {
      padding: 0 25px;

      text-align: center;
    }
  }

  .main-offer {
    grid-row-start: 2 span;

    min-height: 462px;
    padding: 0;

    border: none;

    @include vp-1199 {
      position: relative;

      grid-column-start: 2 span;
      grid-row-start: auto;
    }

    @include vp-767 {
      grid-column-start: auto;

      min-height: 598px;
    }
  }
}
