.promo {
  padding: 122px 0 72px;

  background-image: url("../img/decoration/promo@1x.png"),
    $conic-blue-to-right-top;
  background-repeat: no-repeat;
  background-size: auto;

  background-position: center right 303px, center;

  @include retina {
    background-image: url("../img/decoration/promo@2x.png"),
      $conic-blue-to-right-top;
  }

  .container {
    display: flex;

    max-width: 1160px;
    margin: 0 auto;
  }

  div {
    position: relative;

    max-width: 377px;
    margin: 0 auto 0 0;
  }

  p {
    margin: 0 0 25px;

    font-family: $ff-bebas-neue;
    font-weight: 400;
    font-size: 49px;
    line-height: 59px;
    letter-spacing: 0.03em;
    text-align: right;
    color: $color-default-white;
  }

  h1 {
    margin: 0 0 80px;

    font-family: $ff-bebas-neue;
    font-weight: 700;
    font-size: 109px;
    line-height: 109px;
    letter-spacing: 0.03em;
    text-align: right;
    color: $color-default-white;
  }

  ul {
    position: absolute;
    top: 212px;

    max-width: 113px;
    margin: 0;
    padding: 0;

    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: $color-default-white;

    list-style-type: none;
  }

  .social-list {
    position: static;

    max-width: fit-content;
    margin: auto 0 0 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 230px;
    height: 57px;
    margin: 0 0 0 auto;
  }
}
