.rates {
  position: relative;

  padding: 118px 0;

  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 67px 0 72px;;
  }

  .container {
    position: relative;

    z-index: 1;

    @include vp-1199 {
      padding: 0 163px;
    }

    @include vp-767 {
      padding: 0 15px;
    }

    &::after {
      position: absolute;
      right: -245px;
      bottom: -185px;

      width: 382px;
      height: 331px;

      background-image: url("../img/decoration/disks@1x.png");
      background-repeat: no-repeat;

      z-index: -1;

      content: "";

      @include vp-1199 {
        right: -50px;
        bottom: -150px;

        width: 355px;
        height: 304px;

        background-size: contain;
      }

      @include vp-767 {
        background-image: none;
      }

      @include retina {
        background-image: url("../img/decoration/disks@2x.png");

        @include vp-767 {
          background-image: none;
        }
      }
    }
  }

  h2 {
    margin: 0 0 24px;

    font-family: $ff-bebas-neue;
    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: center;
    word-break: break-all;

    @include vp-1199 {
      margin: 0 0 20px;

      font-size: 42px;
      line-height: 42px;
    }

    @include vp-767 {
      margin: 0 0 13px;

      font-size: 32px;
      line-height: 32px;
    }
  }

  .tabs__btns {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1;
    gap: 46px;

    width: fit-content;
    margin: 0 auto 39px;
    padding: 0;

    border-bottom: $border-grey;

    list-style-type: none;

    @include vp-1199 {
      min-width: 334px;
      margin: 0 auto 44px;
    }

    @include vp-767 {
      min-width: 100%;
      margin: 0 auto 35px;
    }
  }

  button {
    padding: 10px 0;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $color-sapphire-transparent;

    background-color: transparent;

    border: none;

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
    }

    @include vp-767 {
      width: 100%;

      font-size: 16px;
      line-height: 24px;
    }
  }

  .tabs__content {
    position: relative;

    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style-type: none;
    z-index: 2;

    @include vp-1199 {
      grid-template-columns: 1fr;
    }
  }

  .tabs__price {
    position: relative;

    margin: 0 0 33px;

    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $color-egyptian-blue;

    z-index: 1;

    @include vp-1199 {
      width: fit-content;
      margin: 0 auto 33px;
    }

    @include vp-767 {
      margin: 0 auto 28px;

      font-size: 48px;
      line-height: 72px;
    }

    &::before {
      position: absolute;
      bottom: -10px;
      left: 0;

      font-size: 100px;
      line-height: 150px;
      color: $color-whisper-transparent;

      content: attr(data-price);

      z-index: -1;

      @include vp-1199 {
        left: -20px;
      }

      @include vp-767 {
        bottom: 0;
        left: -15px;

        font-size: 80px;
        line-height: 120px;
      }
    }
  }

  a {
    justify-content: center;
    align-items: center;

    width: 206px;
    height: 66px;
  }

  svg {
    @include vp-767 {
      width: 24px;
      height: 33px;
    }
  }
}
