.request-data {
  p {
    width: fit-content;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;

    &:not(.request-data__title) {
      display: flex;

      margin: 0;

      font-weight: 700;
      font-size: 40px;
      line-height: 45px;
      color: $color-default-white;

      border-top: $border-white;

      @include vp-1199 {
        font-size: 24px;
        line-height: 31px;
      }
    }
  }

  span {
    margin: 5px 0 0 7px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $color-default-white;

    @include vp-1199 {
      margin: 1px 0 0 5px;

      font-size: 10px;
      line-height: 15px;
    }
  }

  .request-data__title {
    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;

    @include vp-1199 {
      font-size: 12px;
      line-height: 14px;
    }

    @include vp-767 {
      line-height: 17px;
    }

    &--date {
      margin: -5px 0 4px;

      @include vp-1199 {
        min-width: auto;
        width: fit-content;
        margin: -3px 0 5px;
      }

      @include vp-767 {
        margin: -3px 0 2px;
      }
    }

    &--time {
      margin: 5px 0 4px;

      @include vp-1199 {
        margin: 0 0 4px;
      }

      @include vp-767 {
        margin: 0 0 1px;
      }
    }
  }
}
