.request {
  padding: 120px 0 100px;

  @include vp-1199 {
    padding: 98px 0 100px;
  }

  @include vp-767 {
    padding: 68px 0 362px;
  }

  .container {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 500px;

      background-color: $color-dark-cerulean;
      background-image: url("../img/decoration/games@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      z-index: -1;

      content: "";

      @include vp-1199 {
        right: 45px;
        left: 337px;
      }

      @include vp-767 {
        top: 100%;
        right: 15px;
        bottom: -292px;
        left: 15px;

        height: 292px;

        background-image: url("../img/decoration/games-mobile@1x.jpg");
      }

      @include retina {
        background-image: url("../img/decoration/games@2x.jpg");

        @include vp-767 {
          background-image: url("../img/decoration/games-mobile@2x.jpg");
        }
      }
    }
  }

  .request__info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);

    max-width: 500px;
    padding: 87px 79px 87px 78px;

    background-color: $color-torch-red;

    @include vp-1199 {
      column-gap: 29px;

      max-width: 292px;
      padding: 51px 45px 51px 44px;
    }

    @include vp-767 {
      max-width: 100%;
      padding: 51px 44px 51px 44px;
    }
  }

  h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    margin: 0 45px 0 0;

    font-family: $ff-bebas-neue;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.03em;
    word-break: break-all;
    color: $color-default-white;

    @include vp-1199 {
      margin: 0;

      font-size: 52px;
      line-height: 52px;
    }
  }

  .request__date {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    word-break: break-all;
  }

  .request__time {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    word-break: break-all;
  }

  p {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  a {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    justify-content: center;
    align-items: center;

    height: 69px;

    @include vp-1199 {
      height: 41px;

      font-size: 10px;
      line-height: 12px;

      border: $border-white-medium;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  .request__subtitle {
    margin: 7px 0 45px;

    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;

    @include vp-1199 {
      margin: 0 0 31px;

      font-size: 12px;
      line-height: 14px;
    }

    @include vp-767 {
      margin: 3px 0 31px;
    }
  }
}
