.reviews-card {
  .reviews-card__information {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: auto auto;
    column-gap: 28px;
    row-gap: 11px;

    width: 560px;
    height: 242px;
    margin: 40px auto;
    padding: 55px 55px 55px 62px;

    background-color: $color-resolution-blue;

    box-shadow: $shadow-resolution-blue;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5px;

      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 1px 1px 10px $color-default-white;
    }

    @include vp-1199 {
      width: 566px;
      padding: 55px 55px 55px 65px;
    }

    @include vp-767 {
      column-gap: 25px;
      row-gap: 11px;

      width: 226px;
      height: 335px;
      padding: 31px 10px 30px 18px;
    }
  }
}
