.reviews {
  padding: 0 0 80px;

  @include vp-1199 {
    padding: 0 0 60px;
  }

  @include vp-767 {
    padding: 0 0 0;
  }

  .container {
    position: relative;

    @include vp-767 {
      padding: 0;
    }
  }

  h2 {
    margin: 0 0 12px;

    font-family: $ff-bebas-neue;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: center;
    word-break: break-all;

    @include vp-1199 {
      margin: 0;

      font-size: 42px;
      line-height: 42px;
    }

    @include vp-767 {
      margin: 0 0 5px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  ul {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;

    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  li {
    width: 560px;

    color: $color-default-white;

    @include vp-767 {
      width: 226px;
    }
  }

  h3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    margin: 0;

    font-size: 20px;
    line-height: 30px;

    @include vp-767 {
      margin: 18px 19px auto 0;

      line-height: 26px;
      hyphens: auto;
    }
  }

  p {
    grid-column-start: 2;

    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    @include vp-767 {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;

      text-align: center;
    }
  }

  button {
    position: absolute;
    top: 136px;

    width: 36px;
    height: 52px;
    padding: 0;

    background-color: transparent;
    background-image: url("../img/decoration/arrow@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    cursor: pointer;
    z-index: 1;

    @include vp-1199 {
      top: 146px;

      width: 16px;
      height: 32px;
    }

    @include vp-767 {
      top: 50%;

      width: 10px;
      height: 19px;
      margin: -10px 0 0;

      background-size: cover;
    }
  }

  .reviews__button {
    display: none;

    &--prev {
      left: 235px;

      @include vp-1199 {
        left: calc((100% - 677px) / 2);
      }

      @include vp-767 {
        left: 14px;
      }
    }

    &--next {
      right: 235px;

      @include vp-1199 {
        right: calc((100% - 677px) / 2);
      }

      @include vp-767 {
        right: 14px;
      }
    }
  }

  img {
    margin: 9px 0 0;
    border-radius: 50%;

    @include vp-767 {
      width: 68px;
      height: 68px;

      margin: 9px 0 0 22px;
    }
  }

  .reviews__swiper {
    position: relative;

    width: 100%;

    margin: 0 auto;

    overflow-x: hidden;
  }

  .reviews__photo {
    grid-row-start: 1;
    grid-row-end: 3;

    @include vp-767 {
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  .swiper-slide {
    height: 242px;
  }

  .swiper-slide-active {
    height: auto;
  }
}
