.social-list {
  li {
    margin: 0 0 0 10px;
  }

  a {
    width: fit-content;
    height: fit-content;
    margin: 20px 0 0;

    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $color-default-white;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }
}

.social-list--row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11px;

  li {
    width: 25px;
    height: 25px;
    margin: 0;

    background-color: $color-default-white;

    border-radius: 50%;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    margin: 0;
  }
}
