.swiper-button {
  &--next {
    right: -56px;

    transform: rotate(180deg);

    @include vp-1199 {
      right: 45px;
    }

    @include vp-767 {
      right: 15px;
    }
  }

  &--prev {
    left: -56px;

    @include vp-1199 {
      left: 45px;
    }

    @include vp-767 {
      left: 15px;
    }
  }
}

.swiper-button-disabled {
  opacity: 0.5;

  pointer-events: none;
}
