.swiper {
  position: relative;

  width: 1160px;
  height: 294px;

  overflow: hidden;

  @include vp-1279 {
    width: 1100px;
  }

  @include vp-1199 {
    width: 866px;
    margin: 0 auto;
  }

  @include vp-1023 {
    width: 566px;
  }

  @include vp-639 {
    width: 226px;
    height: 274px;
  }
}
