.tabs-btn {
  &.is-active {
    position: relative;
    color: $color-sapphire;

    &::after {
      position: absolute;
      right: 0;
      bottom: -2px;
      left: 0;

      height: 2px;

      background-color: $color-crimson;

      content: "";

      @include vp-767 {
        right: -7px;
        bottom: -2px;
      }
    }
  }
}
